* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
    @media (max-width:$md1+px){max-width: 970px;}
    @media (max-width:$md2+px){max-width: 750px;}
    @media (max-width:$md3+px){max-width: none;padding:0 10px;}
}
*/
.mainblock {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px 0;
  /*
  &.ibg {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  */
}
.mainblock__content {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.mainblock__content .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainblock__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 165px 160px;
}
.mainblock__text {
  color: #ffffff;
  position: relative;
  padding: 0px 0px 50px 0px;
  margin: 30px 0;
}
.mainblock__text::after {
  content: "";
  width: 105px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  margin: 0px 0px 0px -52.5px;
  bottom: 0;
}
.mainblock__title {
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5.43px;
  margin: 0px 0px 10px 0px;
}
.mainblock__subtitle {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 4.15px;
}
.mainblock .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: relative;
}
.mainblock__footer {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainblock__btn:hover {
  content: "";
  color: black;
}
.mainblock__arrow {
  position: relative;
  -webkit-animation: arrow 2s infinite ease;
          animation: arrow 2s infinite ease;
  padding: 55px 0px 0px 0px;
}
@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
.mainblock__image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.btn {
  margin: 225px 0px 0px 0px;
  display: inline-block;
  padding: 0px 0px;
  height: 50px;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.67px;
}
.btn_w {
  color: #fff;
  border: 1px solid #fff;
}
/*  
 .mainblock {
}
.mainblock__content {
}
.container {
}
.mainblock__logo {
}
.mainblock__text {
}
.mainblock__title {
}
.mainblock__subtitle {
}
.mainblock__footer {
}
.mainblock__btn {
}
.btn {
}
.btn_w {
}
.mainblock__arrow {
}
.mainblock__image {
}
*/
/*
.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}  
*/
.content {
  background-color: #fff;
  position: relative;
  z-index: 50;
}

.menu {
  padding: 22px 0;
  margin: 0px 0px 130px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  margin: 0px 25px;
}

.menu__link {
  color: #3c3c3c;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.menu__link_act {
  color: #ada074;
}

.about {
  padding: 0px 0px 60px 0px;
}

.about__header-block {
  margin: 0px 0px 65px 0px;
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 8.95px;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 30px 0px;
}

.header-block__title::after {
  content: "";
  width: 81px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0px 0px 0px -40.5px;
  background-color: #000;
}

.header-block__subtitle {
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
  padding: 30px 0px 0px 0px;
  max-width: 700px;
  margin: 0px auto;
}

.about__body {
  text-align: center;
}

.about__row {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.about__column {
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.about__item {
  text-align: center;
}

.about__icon {
  border-radius: 50%;
  border-bottom: 2px solid #e9baba;
  width: 92px;
  height: 92px;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.about__title {
  margin: 0px 0px 33px 0px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
}

.about__text {
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}
